<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Thesis WA Bot</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="max-w-7xl m-auto w-full min-h-screen">
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl font-bold" href="/">Theis WA Bot</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <a href="/">Dashbaord</a>
                </li>
                <li>
                    <a href="/pembimbing">Pembimbing</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="p-8 h-full">
        {{{body}}}
    </div>

</body>

</html>