<div class="h-screen w-full bg-base-300 flex items-center justify-center ">
    <form action="/api" method="post"
        class="flex flex-col justify-center gap-5 bg-base-100 max-w-lg p-12 rounded-3xl shadow-2xl">

        <div class="w-full grid gap-2">
            <h1 class="text-4xl font-bold">Masuk<span class="text-primary">.</span></h1>
            <p> Hey hey!, sebelum lanjut masih ingat dengan username dan password nya kan? </p>
        </div>
        <div class="form-control grid gap-2">
            <div class="w-full grid">
                <label class="label label-text">Username</label>
                <input type="text" name="username" required placeholder="Username"
                    class="input input-bordered w-full" />
            </div>
            <div class="w-full grid">
                <label class="label label-text">Password</label>
                <input type="password" name="password" required placeholder="Password"
                    class="input input-bordered w-full" />
            </div>
        </div>
        <div class="flex items-end justify-end mt-4">
            <button class="btn btn-primary w-1/2">Masuk</button>
        </div>

        <div class="grid gap-1 mt-16">
            <h2 class="text-lg text-primary font-bold">
                Tidak memiliki akun?
            </h2>
            <p class="text-sm">
                Ups! Kamu nyasar nih! Ini ruang rahasia admin, pssstttt! Jangan bilang siapa-siapa ya!
            </p>
        </div>
    </form>
</div>